<%- layout("layouts/boilerplate") %>
<body>
    <form>
        <div class="row">
            <div class="col-4 offset-4 mt-3 mb-3">
                <h2 class="loginSignup">LOG IN</h2>
            
            <div class="mb-3">
            <label for="username" class="form-label"></label>
            <input type="text" class="form-control" id="username" placeholder="Username">
            </div>

            <div class="mb-3">
            <label for="password" class="form-label"></label>
            <input type="password" class="form-control" id="password" placeholder="Password">
            </div>

            <br>
            <p>Don't have an account ? <a href="/signup" class="signup">Sign Up</a></p>

            <button type="submit" class="btn btn-danger mt-3">Login</button>
        </div>
        </div>
      </form>
</body>
</html>