<%- layout("layouts/boilerplate") %>
<body>
    <form>
        <div class="row">
            <div class="col-4 offset-4 mt-3 mb-3">
                <h2 class="loginSignup">SIGN UP</h2>
            
            <div class="mb-3">
            <label for="username" class="form-label"></label>
            <input type="text" class="form-control" id="username" placeholder="Username">
            </div>

            <div class="mb-3">
            <label for="email" class="form-label"></label>
            <input type="email" class="form-control" id="email" placeholder="Email">
            </div>

            <div class="mb-3">
            <label for="password" class="form-label"></label>
            <input type="password" class="form-control" id="password" placeholder="Password">
            </div>

            <div class="mb-3">
            <label for="password" class="form-label"></label>
            <input type="password" class="form-control" id="password" placeholder="Retype Password">
            </div>

            <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="terms">
            <label class="form-check-label" for="terms">Agree to privacy and terms</label>
            </div>

            <button type="submit" class="btn btn-danger mt-3">Sign Up</button>
        </div>
        </div>
      </form>
</body>
</html>